@import url(/includes/root.css);
@import url(/includes/header.css);
@import url(/includes/footer.css);

main .main__img {
  display: flex;
  flex-direction: column;
}

main .main__img img {
  width: 100%;
}
