<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TotalOri - 토끼 탈을 쓴 오리</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="wallpaperDetail.css">
  <script src="https://kit.fontawesome.com/ba2b096987.js" crossorigin="anonymous"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-app.js" defer></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-auth.js" defer></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-firestore.js" defer></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-storage.js" defer></script>
  <script type="module" src="/includes/header.js" defer></script>
  <script src="wallpaperDetail.js" defer></script>
</head>

<body>
  <!-- 헤더 네비게이션 바 -->
  <header>
    <!-- 로고 -->
    <div class="header__logo">
      <a href="/"><img src="/image/totalori_logo.png" alt="totalori logo" class="logo"></a>
    </div>
    <!-- 네비게이션 메뉴 -->
    <ul class="header__menu">
      <li class="menu__close"><i class="fa-solid fa-x"></i></li>
      <li id="menu__wallpaper"><a href="/views/wallpaper/wallpaperBoard.html">wallpaper</a></li>
      <li id="menu__contact"><a href="/views/contact/contactInfo.html">contact</a></li>
      <li id="menu__admin"><a href="/views/admin/adminManage.html">admin</a></li>
    </ul>
    <!-- 우측 아이콘 -->
    <div class="header__icons">
      <!-- <a href="#">
        <i class="fa-solid fa-user"></i>
      </a> -->
      <i class="fa-solid fa-bars"></i>
    </div>
  </header>

  <div class="page__description">
    <h2 class="page__title">wallpaper</h2>
  </div>
  <main>
    <div class="wallpaper__edit"></div>
    <div class="wallpaper__title"></div>
    <div class="wallpaper__create__date"></div>
    <div class="wallpaper__content"></div>
    <div class="wallpaper__operator">
      <!-- <a class='operator__btn'>
        <i class="fa-solid fa-chevron-up"></i>
        <span id="prev__content__title" data-postId="">이전글제목</span>
      </a>
      <a class='operator__btn'>
        <i class="fa-solid fa-chevron-down"></i>
        <span id="next__content__title" data-postId="">다음글제목</span>
      </a> -->
    </div>
  </main>

  <!-- 하단 링크 및 정보 -->
  <footer>
    <!-- 계정 링크 -->
    <div class="footer__icons">
      <a href="mailto:totalori.official@gmail.com"><i class="fa-regular fa-envelope"></i></a>
      <a href="https://www.instagram.com/total_ori/"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <!-- 홈페이지 정보 -->
    <div class="footer__info">
      <!-- <div class="info__links">
        <a href="#">이용약관</a>
        <a href="#">개인정보처리방침</a>
      </div> -->
      <span class="copyrights">ⓒ2022.TotalOri.All right reserved</span>
    </div>
  </footer>
</body>

</html>