header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--pink-color);
}

header .header__logo {
  flex: 1 1 30%;
}

header .header__logo img {
  width: 100%;
  max-width: 90px;
  padding: calc(var(--padding) / 2) var(--padding);
}

header .header__menu {
  flex: 1 1 40%;
  display: flex;
  justify-content: space-evenly;
}

header .header__menu li {
  padding: calc(var(--padding) / 2);
  text-transform: uppercase;
  font-size: min(4vw, var(--large-font));
}

header .header__menu li a:hover,
header .header__icons i:hover {
  color: var(--grey-dark-color);
}

header .header__icons {
  flex: 1 1 30%;
  display: flex;
  justify-content: flex-end;
}

header .header__icons i {
  padding: var(--padding);
  font-size: min(6vw, var(--x-large-font));
}

header .header__menu .menu__close,
header .header__icons .fa-bars {
  display: none;
}

@media screen and (max-width: 768px) {
  /* 모바일 환경일 경우 */
  header .header__menu .menu__close,
  header .header__icons .fa-bars {
    display: block;
  }

  header .header__menu {
    position: fixed;
    top: 0;
    right: -40vw;
    margin: 0;
    background-color: var(--white-color);
    width: 40vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    padding: calc(var(--padding) / 2);
    transform: translateX(0px);
    transition: transform 0.2s ease-in-out;
  }

  header .header__menu.clicked {
    transform: translateX(-100%);
  }
}
