:root {
  /* Color */
  --white-color: #fff;
  --black-color: #000000;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --pink-color: #ffcdd2;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --padding: 16px;
  --avatar-size: 32px;

  /* Font Size */
  --x-large-font: 40px;
  --large-font: 24px;
  --medium-font: 18px;
  --small-font: 14px;
  --micro-font: 10px;
}

* {
  box-sizing: border-box;
}

body {
  border: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

a:not(.editor__content *) {
  text-decoration: none;
  color: var(--black-color);
}

ul:not(.editor__content *),
ol:not(.editor__content *) {
  list-style: none;
  padding: 0;
}
